@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
    box-sizing: border-box;
}
body{
    background-color: rgb(12, 8, 8);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    align-items: center;
    flex-direction: row;
    max-height: 370px;
    height: 100%;
    background-color: #FCF6F5;
    border-radius: 20px;
    padding: 25px;
    box-shadow: 5px 5px 2px 10px #FCF6F5;
}

.profile-card{
    position: relative;
    width: 220px;
    height: 220px;
    border: 5px solid #990011;
    border-radius: 50%;

}

.profile-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #FCF6F5;
}

.card .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
}

.content .logo{
    color: #990011;
    text-decoration: underline black ;
    font-size: 50px;
    font-weight: 500;
}

.content .sub-title{
    color: black;
    font-size:18px;
    font-weight: 200;
}

.content .mail{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    
}

.mail a{
    color: #990011;
    margin: 10px;
    font-size: 40px;
}

.mail a:hover{
    color: black;
    margin: 10px;
    font-size: 40px;
    transition-duration: 1000ms;
}
  
.content .logo:hover{
    color: black;
    text-decoration: underline #990011 ;
    font-size: 50px;
    font-weight: 500;
}

.profile-card:hover{
    position: relative;
    width: 220px;
    height: 220px;
    border: 5px dotted black;
    transition-duration: 7000ms;
    border-radius: 50%;

}